@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
/* -- Stepped Progress Bar -- */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  color: #000;
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-family: "Dosis", sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #018ee3;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #018ee3;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
  font-size: 1rem !important;
  font-weight: 500;
  color: grey;
}

.section-title p span {
  font-style: italic;
}

.getStart {
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #018ee3), color-stop(200%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
  color: #fff;
  font-size: 16px;
  padding: 14px 28px;
  width: 250px;
  max-width: 90%;
  margin-top: 25px;
  border-radius: 4px;
  outline: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
}

.getStart:hover {
  opacity: 0.8;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 58, 90, 0.5)), to(rgba(40, 58, 90, 0.5))), url("../img/banner-8.jpg") fixed center center;
  background: linear-gradient(rgba(40, 58, 90, 0.5), rgba(40, 58, 90, 0.5)), url("../img/banner-8.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0;
  color: white;
  /* padding: 15px 0;
background: #f3f5fa;
min-height: 40px;
margin-top: 72px; */
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 600;
  color: white !important;
}

.breadcrumbs a {
  color: #121824;
  font-size: 14px;
  font-weight: 800 !important;
}

@media (max-width: 992px) {
  .breadcrumbs .breadcrumbs {
    margin-top: 68px;
  }
}

.breadcrumbs ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #4668a2;
  content: "/";
}

.header {
  background: #121824;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 99;
}

.header .navbrand {
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800px;
  color: white;
  line-height: 80px;
}

.header .button_container {
  position: fixed;
  top: 6%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.header .button_container:hover {
  opacity: 0.7;
}

.header .button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}

.header .button_container.active .middle {
  opacity: 0;
  background: #fff;
}

.header .button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}

.header .button_container span {
  background: #fff;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
}

.header .button_container span:nth-of-type(2) {
  top: 11px;
}

.header .button_container span:nth-of-type(3) {
  top: 22px;
}

.header .overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 999;
}

.header .overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}

.header .overlay.open li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
          animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.header .overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.header .overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.header .overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.header .overlay nav {
  position: relative;
  height: 50%;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 30px;
  font-family: "Varela Round", serif;
  font-weight: 400;
  text-align: center;
}

.header .overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.header .overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.header .overlay ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}

.header .overlay ul li a:hover:after, .header .overlay ul li a:focus:after, .header .overlay ul li a:active:after {
  width: 100%;
}

.header .overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #fff;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.hero-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(65, 105, 225, 0.3)), to(rgba(65, 105, 225, 0.3))), url(../img/hero-bgg.webp) repeat fixed 100%;
  background: linear-gradient(rgba(65, 105, 225, 0.3), rgba(65, 105, 225, 0.3)), url(../img/hero-bgg.webp) repeat fixed 100%;
  background-size: cover;
  height: 90vh;
}

.hero-bg .hero-content {
  margin-top: 120px;
  text-align: center;
  color: white;
}

.hero-bg .hero-content .im {
  margin-top: 30px;
}

.hero-bg .hero-content .im .iam {
  font-size: 28px;
}

.hero-bg .hero-content .im .dropdown .btn {
  background-color: transparent !important;
  border: 1px dashed #ffffff;
  padding: 5px 10px 5px !important;
  font-size: 30px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.hero-bg .hero-content .im .dropdown .btn:hover .dropdown-menu {
  display: block;
  z-index: 1;
}

.hero-bg .hero-content h2 {
  font-size: 43px;
  font-family: "Dosis", sans-serif;
  font-weight: 800;
}

.hero-bg .hero-content p {
  font-size: 20px;
}

@media (max-width: 768px) {
  .hero-bg {
    height: 100vh;
  }
}

.network {
  margin: 80px 0;
  width: 100%;
  background-color: #121824;
  padding: 20px;
}

.network .section-title {
  margin-top: 100px;
}

.network .section-title h2 {
  color: #ffffff;
}

.network .flags a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.network .flags a:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.network .flags a img {
  height: 170px;
}

.network .flags a span {
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-family: "Dosis", sans-serif;
}

.featured {
  margin: 80px 0;
  width: 100%;
  height: 100%;
}

.featured .cliens {
  padding: 12px 0;
  text-align: center;
}

.featured .cliens img {
  max-width: 45%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
}

.featured .cliens img:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 768px) {
  .featured .cliens .cliens img {
    max-width: 40%;
  }
}

.joinCommunity {
  margin: 80px 0;
}

.joinCommunity .card-view {
  padding: 0;
  text-align: center;
  font-size: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.joinCommunity .card-view:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.joinCommunity .card-view .avatar-block {
  height: 97px;
  margin-bottom: 44px;
  background-color: #e6ecf0;
  background-size: cover;
  color: #fff;
  padding: 0 20px;
  position: relative;
  margin: 0;
  border-bottom: 1px solid #f6f9fb;
  border-radius: 9px 9px 0 0;
}

.joinCommunity .card-view .avatar-block img {
  height: 105px;
  width: 105px;
}

.joinCommunity .card-view .avatar-block .img-circle {
  border-radius: 50%;
}

.joinCommunity .card-view .avatar-block .amt-range {
  padding: 8px 28px;
  font-size: 12px;
  min-width: 100px;
  color: #fff;
  position: relative;
  z-index: 2;
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #018ee3), color-stop(200%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
  border-radius: 24px;
  top: -18px;
  font-size: 14px;
  min-width: 150px;
  display: inline-block;
}

.joinCommunity .card-view .avatar-block .label {
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.joinCommunity .card-view .caption {
  padding: 20px;
  margin-top: 20px;
}

.joinCommunity .card-view .caption .btn-default {
  font-size: 14px;
  color: #018ee3;
  border-color: #b4c3d3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.joinCommunity .card-view .caption .btn-default:hover {
  color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #018ee3), color-stop(200%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
}

.joinCommunity .card-view .caption i {
  color: #018ee3;
}

.joinCommunity .card-view .caption p {
  color: #888;
  font-size: 14px;
  margin-bottom: 14px;
}

.joinCommunity .card-view .caption h3 {
  font-size: 18px;
  color: #000;
  padding-bottom: 8px;
}

.joinCommunity .thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
}

.ourIndustry .box-model {
  position: relative;
  overflow: hidden;
  border-radius: 2px 2px 0 0;
}

.ourIndustry .box-model:hover {
  opacity: 0.9;
}

.ourIndustry .box-model img {
  width: 100%;
  height: 100%;
}

.ourIndustry .box-model .overlay-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 11;
  color: #fff;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.ourIndustry .box-model .overlay-link .overlay-link-wrap {
  cursor: pointer;
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  font-size: 36px;
}

.ourIndustry .box-model .overlay-link .overlay-link-wrap span {
  display: table-cell;
  vertical-align: middle;
  font-size: 24px;
  padding: 8px;
}

.ourIndustry .view-all {
  color: #018ee3;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.ourIndustry .view-all:hover {
  text-decoration: underline;
}

.testimonial {
  margin: 80px 0;
}

.testimonial .card {
  border: solid 1px #212121;
  padding: 45px 50px 25px 60px;
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #018ee3), color-stop(200%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
  border-radius: 10px;
  border: none;
  color: #fff;
}

.testimonial .post-txt {
  font-size: 1rem;
  margin-bottom: 0;
}

.testimonial .quote-img {
  position: absolute;
  top: 32px;
  left: 25px;
  width: 30px;
  height: 30px;
}

.testimonial .nice-img {
  width: 20px;
  height: 25px;
  margin-bottom: 7px;
}

.testimonial .arrow-down {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 20px solid #018ee3;
  margin: auto;
}

.testimonial .fit-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial .profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonial .profile-name {
  font-size: 22px;
  left: 210px;
  color: #018ee3;
}

.country-details {
  margin: 80px 0;
}

.country-details .country-inner p {
  text-align: center;
  font-size: 18px;
}

.country-details .country-inner .left-align {
  text-align: center;
}

.country-details .country-inner .left-align button {
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #018ee3), color-stop(200%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
  padding: 8px 55px;
  color: white;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid #4169e1;
}

.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(65, 105, 225, 0.3)), to(rgba(65, 105, 225, 0.3))), url(../img/banner.jpg) repeat fixed 100%;
  background: linear-gradient(rgba(65, 105, 225, 0.3), rgba(65, 105, 225, 0.3)), url(../img/banner.jpg) repeat fixed 100%;
  background-size: cover;
  height: 300px;
}

footer {
  background-color: #121824;
  padding: 40px 0px 0 0;
  margin-top: 80px;
}

footer .social-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social-wrap img {
  font-size: 40px;
  margin-bottom: 45px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

footer .social-wrap img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

footer .social-wrap .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
}

footer .social-wrap .social-links a {
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  margin: 0 6px;
  border-radius: 50%;
  border: 1px solid #ddd;
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

footer .social-wrap .social-links a::after {
  content: "";
  width: 110%;
  height: 110%;
  top: -80px;
  left: -0px;
  background: #000;
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #018ee3), color-stop(200%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .social-wrap .social-links a:hover::after {
  top: 0;
}

footer .social-wrap .social-links a:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

footer .social-wrap .social-links a:hover .fab {
  color: #fff;
}

footer .social-wrap .social-links a .fab {
  font-size: 16px;
  line-height: 30px;
  position: relative;
  z-index: 10;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

footer p {
  color: #ffffff;
  font-size: 14px;
  text-align: start;
}

footer .quick-links h4 {
  color: #018ee3;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

footer .quick-links ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .quick-links ul li {
  list-style: none;
  margin-top: 10px;
}

footer .quick-links ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 1000px) {
  footer .footer-m {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  footer .social-links {
    width: 100%;
  }
}

footer .bottom-menu li a {
  text-decoration: none;
  font-size: 12px;
  color: #ffffff;
  -webkit-transition: 00.3s ease-in-out;
  transition: 00.3s ease-in-out;
}

footer .bottom-menu li a:hover {
  color: #018ee3;
}

footer .copyright-text {
  font-size: 12px;
  -webkit-transition: 00.3s ease-in-out;
  transition: 00.3s ease-in-out;
}

footer .copyright-text:hover {
  color: #018ee3;
}

.login {
  position: relative;
}

.login h4 {
  text-align: center;
  color: #888;
  font-weight: 300;
  margin: 10px 0 20px;
}

.login .closed {
  position: absolute;
  top: -60px;
  left: 0px;
  right: 0px;
  color: #018ee3;
  font-size: 2rem;
}

.login .main-content {
  max-width: 600px;
  border-radius: 3px;
  background-color: #121824;
  margin: 5em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login .company__info {
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #018ee3), color-stop(200%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.login .fa-android {
  font-size: 3em;
}

@media screen and (max-width: 640px) {
  .login .main-content {
    width: 90%;
  }
  .login .company__info {
    display: none;
  }
}

@media screen and (min-width: 642px) and (max-width: 800px) {
  .login .main-content {
    width: 70%;
  }
}

.login .row > h4 {
  color: #018ee3;
}

.login .login_form {
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.login form {
  padding: 0 2em;
}

.login .form__input {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  padding: 1em 0.5em 0.5em;
  padding-left: 2em;
  outline: none;
  margin: 1.5em auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.login .form__input:focus {
  border-bottom-color: #018ee3;
  -webkit-box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
          box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
  border-radius: 4px;
}

.login .btn {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 70%;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
  background-color: #fff;
  margin: auto;
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #018ee3), color-stop(200%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
}

.register {
  position: relative;
}

.register .closed {
  position: absolute;
  top: 10px;
  left: 0px;
  right: 0px;
  color: #018ee3;
  font-size: 2rem;
}

.register a {
  text-decoration: none;
  color: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.register .form {
  background: white;
  padding: 20px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
          box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.register .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.register .tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.register .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 8px;
  background: rgba(160, 179, 176, 0.25);
  color: #888;
  font-size: 18px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.register .tab-group li a:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #018ee3), color-stop(200%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
  color: #ffffff;
}

.register .tab-group .active a {
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #018ee3), color-stop(200%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
  color: #ffffff;
}

.register .tab-content > div:last-child {
  display: none;
}

.register h4 {
  text-align: center;
  color: #888;
  font-weight: 300;
  margin: 0 0 20px;
}

.register label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: #888;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 14px;
}

.register label .req {
  margin: 2px;
  color: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
}

.register label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

.register label.active .req {
  opacity: 0;
}

.register label.highlight {
  color: #ffffff;
}

.register input,
.register textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: black;
  border-radius: 0;
  -webkit-transition: border-color 0.25s ease, -webkit-box-shadow 0.25s ease;
  transition: border-color 0.25s ease, -webkit-box-shadow 0.25s ease;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
  transition: border-color 0.25s ease, box-shadow 0.25s ease, -webkit-box-shadow 0.25s ease;
}

.register input:focus,
.register textarea:focus {
  outline: 0;
  border-color: #888;
}

.register textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.register .field-wrap {
  position: relative;
  margin-bottom: 25px;
}

.register .top-row:after {
  content: "";
  display: table;
  clear: both;
}

.register .top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.register .top-row > div:last-child {
  margin: 0;
}

.register .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #018ee3), color-stop(200%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.register .button-block {
  display: block;
  width: 100%;
}

.register .forgot {
  margin-top: -20px;
  text-align: right;
}

.register .Check {
  height: auto;
}

.userDashboard {
  margin: 150px 0;
}

.userDashboard .userAccess-listing {
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
}

.userDashboard .userAccess-listing ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.userDashboard .userAccess-listing ul li {
  margin-top: 20px;
}

.userDashboard .userAccess-listing ul li a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

.userDashboard .userAccess-listing ul li a:hover {
  color: #018ee3;
}

.userDashboard .main-card {
  border-style: dashed;
}

.userDashboard .card {
  padding: 10px;
  background-color: #eeeeee;
}

.userDashboard .card h4 {
  font-weight: 500;
  color: #888 !important;
  margin-bottom: 100px;
}

.userDashboard .card .card-body .card-title {
  color: #018ee3 !important;
}

.userDashboard .card .card-body .card-text {
  margin-bottom: 120px;
}

.userDashboard .card .card-body .addTag {
  text-align: center;
}

.userDashboard .card .card-body .addTag span {
  font-size: 50px;
  color: #018ee3;
}

.pitch {
  margin: 80px 0;
}

.pitch .input-group .custom-select {
  width: 100%;
}

.pitch .nav .active {
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #018ee3), color-stop(200%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
}

.pitch .form-group .file {
  position: relative;
  overflow: hidden;
}

.contact {
  margin: 80px 0;
}

.contact .contact-box {
  margin-bottom: 80px;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact .contact-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.contact .contact-box:hover i {
  background-color: #018ee3 !important;
  color: #ffffff !important;
}

.contact .contact-box .contact-box-inner {
  text-align: center;
}

.contact .contact-box .contact-box-inner i {
  color: #018ee3;
  padding: 20px;
  background: #f7fafd;
  border-radius: 50%;
}

.contact .contact-box .contact-box-inner h5 {
  margin-top: 20px;
  font-size: 1rem;
}

.contact .contact-box .contact-box-inner h6 {
  font-size: 14px;
}

.contact .contact-box .contact-box-inner .phone-number {
  margin-top: 15px !important;
}

.contact input[type="text"],
.contact select,
.contact textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 14px;
  resize: vertical;
}

.contact input[type="submit"] {
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #018ee3), color-stop(200%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact input[type="submit"]:hover {
  background-color: #45a049;
}

.contact .google-map {
  margin: 80px 0;
}

.contact form {
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 20px;
}

.contact-banner .breadcrumbs {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 58, 90, 0.5)), to(rgba(40, 58, 90, 0.5))), url("../img/banner-3.jpg") fixed center center;
  background: linear-gradient(rgba(40, 58, 90, 0.5), rgba(40, 58, 90, 0.5)), url("../img/banner-3.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0;
  color: white;
}

.aboutUs {
  margin: 80px 0;
}

.aboutUs .about-section p {
  font-size: 1rem;
  text-align: center;
}

.aboutUs .card button {
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #018ee3), color-stop(200%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
  border: 1px solid transparent;
  color: white;
  padding: 6px 20px;
  border-radius: 3px;
}

.service {
  margin: 80px 0;
}

.service .service-box {
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.service .service-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.service .service-box .service-box-inner {
  text-align: center;
}

.service .service-box .service-box-inner span {
  color: #ffffff;
  padding: 20px;
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #018ee3), color-stop(200%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
  border-radius: 50%;
  font-size: 50px;
}

.service .service-box .service-box-inner h5 {
  margin-top: 20px;
  font-size: 18px;
  color: #018ee3;
}

.service .service-box .service-box-inner p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8em;
  text-align: justify !important;
}

.service .service-box .service-box-inner .phone-number {
  margin-top: 15px !important;
}

.process-banner .breadcrumbs {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 58, 90, 0.5)), to(rgba(40, 58, 90, 0.5))), url("../img/banner-5.jpg") fixed center center;
  background: linear-gradient(rgba(40, 58, 90, 0.5), rgba(40, 58, 90, 0.5)), url("../img/banner-5.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0;
  color: white;
  /* padding: 15px 0;
  background: #f3f5fa;
  min-height: 40px;
  margin-top: 72px; */
}

.process {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
}

.process .section-title h2 {
  margin-top: 40px;
  color: #018ee3;
}

.process .timeline {
  width: 85%;
  height: auto;
  margin: auto;
}

.process .timeline ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.process .timeline ul li {
  padding: 15px;
  background-color: #121824;
  color: #ffffff !important;
  border-radius: 10px;
  margin-bottom: 20px;
}

.process .timeline ul li:last-child {
  margin-bottom: 0;
}

.process .timeline .timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.process .timeline .timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
  .process .investor {
    position: relative;
  }
  .process .enterpernur {
    position: relative;
  }
  .process .timeline::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .process .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 40px;
  }
  .process .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: -6px;
  }
  .process .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .process .timeline ul li:nth-child(odd)::before {
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    right: -30px;
  }
  .process .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .process .timeline ul li:nth-child(even)::before {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: -30px;
  }
  .process .timeline .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .process .timeline ul li:hover::before {
    background-color: #018ee3;
  }
}

@media only screen and (max-width: 768px) {
  .process .timeline {
    width: 100%;
    margin-left: auto;
  }
}

.snip1404 {
  font-family: "Dosis", sans-serif;
  color: #ffffff;
  font-size: 16px;
  width: 100%;
}

.uncheck {
  text-decoration: line-through;
  color: #888 !important;
}

.snip1404 img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}

.snip1404 .plan {
  margin: 0;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.snip1404 .plan:first-of-type {
  border-radius: 8px 0 0 8px;
}

.snip1404 .plan:last-of-type {
  border-radius: 0 8px 8px 0;
}

.snip1404 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.snip1404 header {
  color: #121824;
}

.snip1404 .plan-title {
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #018ee3), color-stop(200%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
  position: relative;
  margin: 0;
  color: #ffffff;
  padding: 20px 20px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.snip1404 .plan-title:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 300px 0 0;
  border-color: #018ee3 transparent transparent;
}

.snip1404 .plan-cost {
  font-family: "Open Sans", sans-serif;
  padding: 40px 20px 10px;
  text-align: right;
}

.snip1404 .plan-price {
  font-weight: 600;
  font-size: 3em;
}

.snip1404 .plan-type {
  opacity: 0.8;
  font-size: 0.7em;
  text-transform: uppercase;
}

.snip1404 .plan-features {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.snip1404 .plan-features li {
  padding: 8px 5%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #018ee3;
}

.snip1404 .plan-features i {
  margin-right: 8px;
  color: #121824;
}

.snip1404 .plan-select {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.snip1404 .plan-select a {
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #018ee3), color-stop(200%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(90deg, #018ee3 58%, rgba(0, 0, 0, 0.8) 200%);
  color: #ffffff;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
}

.snip1404 .plan-select a:hover {
  background-color: rgba(1, 142, 227, 0.8);
}

.snip1404 .plan:hover {
  margin-top: -10px;
  z-index: 1;
  border-radius: 8px;
  cursor: pointer;
}

.snip1404 .plan .plan-select {
  padding: 30px 20px;
}

@media only screen and (max-width: 767px) {
  .snip1404 .plan {
    width: 100%;
  }
  .snip1404 .plan-title,
  .snip1404 .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .snip1404 .plan-select,
  .snip1404 .featured .plan-select {
    padding: 20px;
  }
  .snip1404 .featured {
    margin-top: 0;
  }
}

@media only screen and (max-width: 440px) {
  .snip1404 .plan {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */